[Unit]
Description=FreeTAKServer-UI service
After=network.target network-online.target freetakserver.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart={{ python3 }} -m FreeTAKServer-UI.run

[Install]
WantedBy=multi-user.target
